{% load static %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Shitty Movie DB</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        {% if not isMobile %}
        div .header {
            text-align: right;
        }
        {% endif %}
    </style>
</head>
<body>
    <div class="container-fluid" width="95%">
        {% block content %}
        {% endblock %}
    </div>
</body>
    
