{% extends 'MovieDB/base.html' %}

{% block content %}
<div align="center">
    <h1><a href="{% url 'movie_list' %}"><h1>Shitty Movie DB</a></h1>
</div>

<div class="row">
    
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <form method="get" id="search">

        <div class="form-group">
            <label for="filters">Filters</label>
            <input id="filters" type="text" class="form-control" name="filters" placeholder="Filter by title, or as <field>:<term> e.g. actors:tom cruise (multiple filters seperated by ', ')">
        </div>

        <div class="form-group">
            <label for="order">Order by</label><br>
            <select id="order" name="order1Asc">
                <option></option>
                <option value="">Asc</option>
                <option value="-">Desc</option>
            </select>
            <select name="order1">
                <option></option>
                <option value="movie_title">Title</option>
                <option value="movie_year">Year</option>
                <option value="movie_runtime">Runtime</option>
                <option value="movie_imdbrating">IMDB Rating</option>
                <option value="movie_added">Date Added</option>
                <option value="?">Random</option>
            </select>
            <select name="order2Asc">
                <option></option>
                <option value="">Asc</option>
                <option value="-">Desc</option>
            </select>
            <select name="order2">
                <option></option>
                <option value="movie_year">Year</option>
                <option value="movie_title">Title</option>
                <option value="movie_runtime">Runtime</option>
                <option value="movie_imdbrating">IMDB Rating</option>
                <option value="movie_added">Date Added</option>
                <option value="?">Random</option>
            </select>
        </div>
        
        <input type="submit" value="Search">
    </form>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        {{ numResults }} results
    </div>
    <div class="col-md-2">
    </div>
</div>

{% for movie in movies %}
<div class="row">

    <div class="col-md-2">
    </div>

    <div class="col-md-2">
        <a href='https://www.imdb.com/title/{{ movie.movie_imdbid }}'><img class="img-responsive" src="{{ movie.movie_poster }}"></img></a>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <h2><a href="https://imdb.com/title/{{ movie.movie_imdbid }}">{{ movie.movie_title }}</a></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Year</strong>
                {{ movie.movie_year }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Genre</strong>
                {{ movie.movie_genre }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>IMDB Rating</strong>
                {{ movie.movie_imdbrating }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Runtime</strong>
                {{ movie.movie_runtime }} minutes
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Director</strong>
                {{ movie.movie_director }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Writer</strong>
                {{ movie.movie_writer }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Actors</strong>
                {{ movie.movie_actors }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Plot</strong>
                {{ movie.movie_plot }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Rated</strong>
                {{ movie.movie_rated }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Released</strong>
                {{ movie.movie_released }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
            </div>
        </div>
        {% if ".mp4" in movie.filepath  and not isMobile %}
        <div class="row">
            <div class="col-md-12">
                <strong>Stream MP4</strong>
                <a href='file://PI-LANTIR\PiShare - Public\Movies\{{ movie.filepath }}'>{{ movie.filepath }}</a>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-md-2">
    </div>

</div>
{% endfor %}

<script>
jQuery(document).ready(function($){
  
  // Remove empty fields from GET forms
  // Author: Bill Erickson
  // URL: http://www.billerickson.net/code/hide-empty-fields-get-form/
  
    // Change 'form' to class or ID of your specific form
    $('#search').submit(function() {
        $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
        return true; // ensure form still submits
    });
    
    // Un-disable form fields when page loads, in case they click back after submission
    $( '#search' ).find( ":input" ).prop( "disabled", false );
    
});
</script>

{% endblock %}
