{% extends 'MovieDB/base.html' %}

{% block content %}
<div align="center">
    <h1><a href="{% url 'movie_list' %}"><h1>Shitty Movie DB</a></h1>
</div>

<div class="row">
    
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <form method="get" id="search">

        <div class="form-group">
            <label for="filters">Filters</label>
            <input id="filters" type="text" class="form-control" name="filters" placeholder="Filter by title, or as <field>:<term> e.g. actors:tom cruise (multiple filters seperated by ', ')">
        </div>

        <div class="form-group">
            <label for="order">Sort by</label><br>
            <select id="order" name="s1o">
                <option value="A">Asc</option>
                <option value="D">Desc</option>
            </select>
            <select name="s1">
                <option></option>
                <option value="movie_title">Title</option>
                <option value="movie_year">Year</option>
                <option value="movie_runtime">Runtime</option>
                <option value="movie_imdbrating">IMDB Rating</option>
                <option value="movie_added">Date Added</option>
                <option value="?">Random</option>
            </select>
            <select name="s2o">
                <option value="A">Asc</option>
                <option value="D">Desc</option>
            </select>
            <select name="s2">
                <option></option>
                <option value="movie_year">Year</option>
                <option value="movie_title">Title</option>
                <option value="movie_runtime">Runtime</option>
                <option value="movie_imdbrating">IMDB Rating</option>
                <option value="movie_added">Date Added</option>
                <option value="?">Random</option>
            </select>
        </div>
        
        <input type="submit" value="Search" formaction="{% url 'movie_list' %}">
        <input type="submit" value="Random" formaction="{% url 'random' %}">
    </form>
    </div>
    <div class="col-md-2">
    </div>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        {{ numResults }} results
    </div>
    <div class="col-md-2">
    </div>
</div>

{% for movie in movies %}
<div class="row movie">

    <div class="col-md-2 spacer">
    </div>

    <div class="col-md-2 poster">
        <a href='https://www.imdb.com/title/{{ movie.movie_imdbid }}'><img class="img-responsive" src="{{ movie.movie_poster }}"></img></a>
    </div>

    <div class="col-md-6 info">

        <div class="row title">
            <div class="col-md-12">
                <h2><a href="https://imdb.com/title/{{ movie.movie_imdbid }}">{{ movie.movie_title }}</a></h2>
            </div>
        </div>

        <div class="row body">
            <div class="col-md-12">

                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Year</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_year }}
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Genre</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_genre }}
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>IMDB Rating</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_imdbrating }}
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Runtime</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_runtime }} minutes
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Director</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_director }} 
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Writer</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_writer }} 
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Actors</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_actors }} 
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Plot</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_plot }} 
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Rated</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_rated }} 
                    </div>
                </div>
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Released</strong>
                    </div>
                    <div class="col-md-10">
                        {{ movie.movie_released }} 
                    </div>
                </div>
                <div class="row spacer">
                    <div class="col-md-2">
                        <br>
                    </div>
                </div>
                {% if ".mp4" in movie.filepath and not isMobile %}
                <div class="row data">
                    <div class="col-md-2 header">
                        <strong>Stream MP4</strong>
                    </div>
                    <div class="col-md-10">
                        <a href='file://PI-LANTIR\PiShare - Public\Movies\{{ movie.filepath }}'>{{ movie.filepath }}</a>
                    </div>
                </div>
                {% endif %}
                        
            </div>
        </div>

    </div>

    <div class="col-md-2 spacer">
    </div>

</div>
{% endfor %}

<script>
jQuery(document).ready(function($){
  
  // Remove empty fields from GET forms
  // Author: Bill Erickson
  // URL: http://www.billerickson.net/code/hide-empty-fields-get-form/
  
    // Change 'form' to class or ID of your specific form
    $('#search').submit(function() {
        $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
        return true; // ensure form still submits
    });
    
    // Un-disable form fields when page loads, in case they click back after submission
    $( '#search' ).find( ":input" ).prop( "disabled", false );
    
});

</script>

{% endblock %}
