{% extends 'MovieDB/base.html' %}

{% block content %}

  <svg width="912" height="72" viewBox="0 0 912 72" fill="none">
    <rect x="0" width="72" height="72" fill="rgb(57, 38, 48)"/>
    <rect x="72" width="72" height="72" fill="rgb(83, 56, 61)"/>
    <rect x="144" width="72" height="72" fill="rgb(110, 79, 73)"/>
    <rect x="216" width="72" height="72" fill="rgb(137, 113, 91)"/>
    <rect x="288" width="192" height="72" fill="#A39A6C"/>
    <rect x="480" width="72" height="72" fill="rgb(177, 167, 126)"/>
    <rect x="552" width="72" height="72" fill="rgb(190, 180, 144)"/>
    <rect x="624" width="72" height="72" fill="rgb(203, 193, 163)"/>
    <rect x="696" width="72" height="72" fill="rgb(216, 206, 183)"/>
    <rect x="768" width="72" height="72" fill="rgb(228, 220, 203)"/>
    <rect x="840" width="72" height="72" fill="rgb(239, 234, 223)"/>
  </svg>

{% endblock content %}

